.root {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;

    li {
        display: inline-block;

        a {
            font-size: 2rem;
            font-weight: 300;
            cursor: pointer;
        }

        a:hover {
            color: var(--accent);
        }
    }

    :global {
        .selected {
            a {
                color: var(--accent);
            }
        }
    }
}