.root {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    li {
        display: inline-block;

        a {
            font-size: 1.6rem;
            font-weight: 300;
            cursor: pointer;
        }

        a:hover {
            color: var(--accent);
        }
    }

    :global {
        .selected {
            a {
                color: var(--accent);
            }
        }
    }
}

@media(max-width: 768px) {
    .root {
        li {
            a {
                display: inline-flex;
                height: 3rem;
                width: 3rem;
                border-radius: 50px;
                align-items: center;
                justify-content: center;
            }
    
            a:hover {
                color: #000;
            }
        }

        :global {
            .selected {
                a {
                    background-color: #eee;
                    color: #000;
                }
            }
        }
    }
}