.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        object-fit: contain;
        max-width: 80rem;
        max-width: 80rem;
    }

    a {
        font-size: 2rem;
        color: #555;
        border-bottom: 1px dotted #000;

        &:hover {
            color: var(--accent);
        }
    }
}

@media (max-width: 590px) {
    .root {
        img {
            max-width: 70rem;
            max-height: 70rem;
        }
    }
}

@media (max-width: 490px) {
    .root {
        img {
            max-width: 50rem;
            max-height: 50rem;
        }
    }
}