.add-cart-block {
    width: 100%;
    display: flex;
    gap: 1rem;

    &.count-right {
        .cart-item-count {
            order: 1;
        }
    }

    .checkout-link {
        width: 100%;
    }
}