.favorites-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    &.active {
        path {
            fill: var(--accent);
        }
    }
}

@media(hover: hover) {
    .favorites-icon:hover {
        path {
            fill: var(--accent);
        }
    }
}