.btn-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;

    svg {
        width: 1.7rem;
        height: 1.7rem;
    }
}